body {
    background-image:url(background.jpg);
    
    background-size: 97em 53em;
    background-repeat: no-repeat;
    margin: 0;
    font: 1.2em / 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    height: 50px; /* set a fixed height to the navbar */
    position: fixed; /* make the navbar fixed at the top of the screen */
    top: 1.5%; /* position the navbar at the top of the screen */
    width: 100%; /* set the width of the navbar to 100% of the screen */
    
  }
  
  
  #flex-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25em;
    justify-content:space-between;
  }
  

  
  #flex-container a {
    color: #023047;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
  }

  #Resume a:hover{
    color: #FFB703;
  }

  #Github a:hover{
    color: #FFB703;
  }

  #Email a:hover{
    color: #FFB703;
  }


.dropbtn {
  color: #FFB703;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  background-color: #b3000000;
  box-shadow: none;
  border-color: #dddddd00;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f15d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #FFB703;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:  #8ecae641;}


  
  .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-auto-flow: inherit;
    grid-gap: 15px;
    padding: 2em;
    top: 10%;
    margin-top: 2.5em;
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
    display: block;
    font-size: 150%;
    color: #FFB703;
    position: relative;
    
    *margin: 15px 150px;
    height: 5em;
    left: 16%;
    top: 7%;
    
    text-shadow: #B5179E;
    text-decoration-style: double;
  }
  .logo h2{
    position: relative;
    left: 0%;
    top: 0%;
    color: #023047;
    font-size: 90%;
  }

  .info{
    grid-row: 1;
    grid-column: 3;
    display: block;
    background-image: linear-gradient(to top, #ffffff38, #8ecae641);
    height: 15em;
    width: 25em;
  
    opacity: 1;
    padding: 1em 2em;
  }

  .info:hover{
    opacity: 1;
  }
  

  .info h3{
    font-size: 150%;
    color:#023047;
    font-weight: lighter;
  }


  .info p{
    font-size: 115%;
    color: #ffffff;
  }
  
  .hobbies{
    grid-row: 2;
    grid-column: 3;
    display: block;
    background-image: linear-gradient(to top, #ffffff38, #8ecae641);
    /*position: absolute;
    
    width: 15em;
    height: 24em;
    right:1%;
    top: 42%;*/
  
    opacity: 1;
    padding: 1em 2em;
  }

  .hobbies:hover{
    opacity: 1;
  }
  

  .hobbies h3{
    font-size: 150%;
    color:#023047;
    font-weight: lighter;
  }


  .hobbies p{
    font-size: 120%;
    color: #fcfcfc;
  }

  .credentials{
    grid-row: 2;
    grid-column: 2;
    display: block;
    background-image: linear-gradient(to top, #ffffff38, #8ecae641);
    /*position: absolute;
    
    width: 15em;
    height: 24em;
    right:21.5%;
    top: 42%;*/
  
    opacity: 1;
    padding: 1em 2em;
  }

  .credentials:hover{
    opacity: 1;
  }
  

  .credentials h3{
    font-size: 150%;
    color:#023047;
    font-weight: lighter;
  }


  .credentials ul{
    font-size: 115%;
    color: #f6f6f6;
    left: 0%;
    list-style: disc;
  }

  #list2{
    font-size: 90%;
    color: #f6f6f6cd;
    left: 0%;
    list-style: circle;
  }


  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;
  

    list-style: none;
  }

  .pics h3{
    position: center;
    font-size: 200%;
    font-weight: bolder;
    color:#FFB703;
    grid-row: 1;
    grid-column: 1;
    text-indent: 38%;
    font-weight: lighter;
  }

  .pics{
    grid-row: 2;
    grid-column: 1;
    
    width: min-content;
    /*height: 25em;
    width: 53.5em;
    left: 0%;
    top: 29%;*/
    background-image: linear-gradient(to top, #ffffff38, #8ecae641);
    padding: 1em;
    list-style: none;
    opacity: 1;
  }

  .picture{
    width: 12em;
    height: auto;
  }
  .pics:hover{
    opacity: 1;
  } 

  @media only screen and (max-width: 500px){
    .body{
      background-repeat: repeat;
    }
    .grid2{
        grid-template-columns: 1fr;
    }
    .logo{
      grid-row: 1;
      grid-column: 1;
    }
    .info{
      grid-row:2;
      grid-column: 1;
    }
    .hobbies{
      grid-row: 3;
      grid-column: 1;
    }
    .credentials{
      grid-row: 4;
      grid-column: 1;
    }
    .Usefullinks{
      grid-row: 5;
      grid-column: 1;
    }
    .pics{
      grid-row: 6;
      grid-column: 1;
    }
    .picture{
      width: 8em;
      height:auto;
    }
  }
    @media only screen and (min-width: 500px){
        .grid2{
            display: grid;
        }
  }


  
 
 
